body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.myimg{
  width: 85%;
  height: 225px;
  margin-bottom: 10px;
}
.card{
  width: 280px !important;
}


.mydes{
  width: 500px !important;
}

h2{
  font-size: 18px !important;
  margin-top: 5px !important;
}